<html>

<head>
</head>

<body>

Hello PyxlMovr

<br>

With session_id: {{ session_id }}

clicked on X: {{ click_pos[0] }} , Y: {{ click_pos[1] }} in the image.

<div style="background-color: red; width: 10px; height: 10px; position: fixed; left: {{ click_pos[0] }}px; top: {{ click_pos[1] }}px;"></div>

<form method="get" action="/click/{{ session_id }}" >

  <input type="image" name="click_area" src="/img/test.png" width="500" height="500">

</form>




</body>

</html>
